button.gameBtn {
  padding: 1em 2em;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 2em;
  font-weight: bold;
  transition: outline 0.05s ease-in-out;
}

button.gameBtn:not([disabled]):hover {
  outline: 5px solid rgb(103, 103, 216);
}

button.gameBtn:not([disabled]):active {
  outline: 10px solid rgb(103, 103, 216);
}